<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>
        Сортировка по группе
    </title>
</head>
<body>
<a href="{% url 'group-add' %}">Создать пользователя группы</a>
<form action="{% url 'group' %}" method="GET" name="group">
    <label for="first_name">Имя</label>
    <input id="first_name" type="text" name="first_name">
    <label for="last_name">Фамилия</label>
    <input id="last_name" type="text" name="last_name">
    <label for="email">Email</label>
    <input id="email" type="text" name="email">
    <input type="submit" value="Фильтровать">
</form>
<div style="margin-top: 20px;">

    {% for group in queryset %}
    <div>
        <a href="{% url 'group-edit' group.id %}">{{ group.get_info }}</a>
    </div>
    {% endfor %}

</div>
</body>
</html>