<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>
        Сортировка по группе
    </title>
</head>
<body>
<a href="{% url 'group-add' %}">Создать пользователя группы</a>
<form action="{% url 'group' %}" method="GET" name="group">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Фильтровать">
</form>
<div style="margin-top: 20px;">

    {% for group in queryset %}
    <div>
        <a href="{% url 'group-edit' group.id %}">{{ group.get_info }}</a>
    </div>
    {% endfor %}

</div>
</body>
</html>