{% extends 'base.html' %}

{% block title %} Список учителей {% endblock %}

{% block content %}
<a href="{% url 'teacher-add' %}">Создать пользователя учителей</a>
<form action="{% url 'teacher' %}" method="GET" name="teacher">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Фильтровать">
</form>

<table border="1">
   <caption>Таблица списка учителей</caption>
   <tr>
    <th>№</th>
    <th>Инфо</th>
    <th>Действия</th>
   </tr>

    {% for teacher in queryset %}
    <tr>
       <td>{{teacher.id}}</td>
       <td>{{teacher.get_info}}</td>
       <td><a href="{% url 'teacher-edit' teacher.id %}">Редактирование записи</a></td>
    </tr>
    {% endfor %}
  </table>
{% endblock content %}