<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>
        Сортировка по учителям
    </title>
</head>
<body>
<a href="{% url 'teacher-add' %}">Создать пользователя учителей</a>
<form action="{% url 'teacher' %}" method="GET" name="teacher">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Фильтровать">
</form>
<div style="margin-top: 20px;">

    {% for teacher in queryset %}
    <div>
        <a href="{% url 'teacher-edit' teacher.id %}">{{ teacher.get_info }}</a>
    </div>
    {% endfor %}

</div>
</body>
</html>